body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: math;
   }

.externalContainer {
    width: 600px;
    background-color: white;
}

.chapterContainer {
    width: auto;
    display: flex;
    margin-top: 30px;
}

.photo {
    width: 40%;
    width: 140px;
    height: 170px;
    border-radius: 70%;
}

.name {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contentTopic {
    width: 50%;
    text-align: left;
}

.contentDescription {
    width: 50%;
    text-align: left;
}

h3 {
    margin-left: 15px;
    margin-top: 5px;
}

p {
    margin: 5px;
    background: #7FFFD4;
    font-family: math;
    font-size: 14px;
}

li {
    list-style-type: none;
}

.contactsContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.contacts {
    width: 300px;
    display: inherit;
    flex-direction: column;
    justify-content: center;
}