body {
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.externalContainer {
    width: 600px;
    height: 1200px;
    background-color: white;
    border: solid;
    border-color: black;
}

.chapterContainer {
    width: auto;
    height: 200px;
    border: solid;
    border-bottom-width: 1px;
    border-color: black;
    display: flex;
}

.photo {
    width: 20%;
}

.content {
    width: 50%;
    border: solid;
    border-width: 1px;
    border-color: black;
    align-content: center;
}