body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: math;
   }

.externalContainer {
    width: 600px;
    height: 1200px;
    background-color: white;
    border: solid;
    border-color: black;
}

.chapterContainer {
    width: auto;
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: black;
    display: flex;
    font-family: math;
    
}

.photo {
    width: 40%;
}

.name {
    width: 50%;
    border: solid;
    border-width: 1px;
}

.photoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: solid;
    border-width: 1px;
    border-color: black;
}

.contentTopic {
    width: 50%;
    border: solid;
    border-width: 1px;
    text-align: left;
}

.contentDescription {
    width: 50%;
    text-align: left;
    border: solid;
    border-width: 1px;
}

h3 {
    margin-left: 5px;
}

p {
    margin: 5px;
    background: #7FFFD4;
    font-family: math;
    font-size: 14px;
}